.center {
  text-align: center;
}

.smaller {
  font-size: 0.8em !important;
}

.smallest {
  font-size: 0.55em !important;
}

.smallestish {
  font-size: 0.65em !important;
}

.footer {
  font-size: 0.45em !important;
  color: $lmu-dark-blue;
}

